<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="display: flex; justify-content: center;">Наша команда налічує 9 учнів і вчителя.</h1>

    <h2 style="display: flex; justify-content: center;"> Керівником цього проекту є Тимур Стрілець </h2>
    <p style="display: flex; justify-content: center;">На Тимура завжди можна положитися і він є одним з кращих керівників </p>
    <img src="" alt="">

    <h2 style="display: flex; justify-content: center;">Одним з його помічників є Євген</h2>
    <p style="display: flex; justify-content: center;"> Я би назвав його конструктором, бо він конструює та складає в єдине ціле  частички всього проекту </p>
    <img src="" alt="">

    <h2 style="display: flex; justify-content: center;">Наймолодшим серед нас є Міша</h2>
    <p style="display: flex; justify-content: center;">Він є накращим із дизайнирів на даний момент</p>
    <img src="" alt="">

    <h2 style="display: flex; justify-content: center;">Наступним є Діма</h2>
    <p style="display: flex; justify-content: center;"> В цього хлопця виходе дуже гарно малювати</p>
    <img src="" alt="">

    <h2 style="display: flex; justify-content: center;">Ще в нас є Віктор Медведєв</h2>
    <p style="display: flex; justify-content: center;">Віктор Медведєв був одним з киривників на минулому груповому проекті та не погано розбирався в його коді</p>
    <img src="" alt="">

    <h2 style="display: flex; justify-content: center;">За ним іде Віктор Чикирис</h2>
    <p style="display: flex; justify-content: center;">Цей програміст мав один з найкращих проектів з минулої теми</p>
    <img src="" alt="">

    <h2 style="display: flex; justify-content: center;"> Ще одна зірка це Артем</h2>
    <p style="display: flex; justify-content: center;"> Он разом з Мішою створили чудовий проект про бронювання квитків , в проекті він робив функціонал проекту</p>
    <img src="" alt="">

    <h2 style="display: flex; justify-content: center;"> В'ячеслав є одним з найвищих і старших програмістів</h2>
    <p style="display: flex; justify-content: center;"> В'ячесслав теж не погано розбирається в коді та він є чудовою людиною , хоча проблеми з мікрофоном заважають йому відповідати</p>
    <img src="" alt="">

    <h2 style="display: flex; justify-content: center;">Мене звати Назар </h2>
    <p style="display: flex; justify-content: center;">Я був одним з дуже відповідальних керивників на минулому проекті, моїм завданням було налаштувати механіку гри </p>
    <img src="" alt="">

    <h2 style="display: flex; justify-content: center;"> Нашим вчителем є Олександр </h2>
    <p style="display: flex; justify-content: center;">Викладач дуже чітко і зрозуміло пояснює матеріал та може допомгти з різними питаннями, ми його поважаємою</p>
    <img src="" alt="">











   {% for list in listes %} 
   {{list.name}}
   {% endfor %}  
</body>
</html>