{% extends "base.html" %}
{% block content %}

<h2 class="mb-3">Редагування оголошення</h2>

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Назва</label>
        {{ form.title }}
    </div>

    <div class="mb-3">
        <label class="form-label">Опис</label>
        {{ form.description }}
    </div>

    <div class="mb-3">
        <label class="form-label">Ціна</label>
        {{ form.price }}
    </div>

    <div class="mb-3">
        <label class="form-label">Дедлайн</label>
        {{ form.date_limit }}
        <small class="text-muted">Оберіть дату</small>
    </div>

    <button type="submit" class="btn btn-warning">Оновити</button>
    <a href="{% url 'advertisement_list' %}" class="btn btn-secondary">Назад</a>
</form>

{% endblock %}
