{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Створити роботу в портфоліо</h2>

    <form method="post" enctype="multipart/form-data" class="mt-3">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="mb-3">
            <label class="form-label" for="{{ form.name.id_for_label }}">Назва</label>
            {{ form.name }}
            {{ form.name.errors }}
        </div>

        <div class="mb-3">
            <label class="form-label" for="{{ form.discription.id_for_label }}">Опис</label>
            {{ form.discription }}
            {{ form.discription.errors }}
        </div>

        <div class="mb-3">
            <label class="form-label" for="{{ form.link.id_for_label }}">Посилання (якщо є)</label>
            {{ form.link }}
            {{ form.link.errors }}
        </div>

        <div class="mb-3">
            <label class="form-label" for="{{ form.file.id_for_label }}">Файл (опціонально)</label>
            {{ form.file }}
            {{ form.file.errors }}
        </div>

        <button type="submit" class="btn btn-success">Зберегти</button>
        <a href="{% url 'portfoliolist' %}" class="btn btn-secondary">Скасувати</a>
    </form>
</div>
{% endblock %}
